#footer
  height 0.78rem
  background #f6f6f7
  display flex
  align-items center
  .fImg
    width 0.45rem
    height auto
  .footer-keyboard
    margin 0 0.1rem 0.05rem
  .footer-voice
    flex 1
    font-size 0.22rem
    color #60605f
    font-weight bold
    height 0.56rem
    border 0.02rem solid #eaeaea
    line-height 0.56rem
  .foces
    height 0.4rem
  .voices
    text-align center
  input
    border 0;
    flex 1
    border-bottom 0.03rem #eaeaea solid
    background #f5f5f5
    height 0.5rem
    text-align left
    padding 0.2rem
    outline 0
  .active
    display block
  .footer-more
    margin 0 0.05rem 0 0.1rem
  .footer-face
    margin-left 0.12rem
