div#header
  font-size 10px
  .header-back
    width 0.18rem
    height auto
    margin 0 0.05rem 0 0.21rem
  .back-name
    color #e0e0e0
    font-size 0.24rem
    position absolute
  .header-title
    flex 1
    text-align center
    font-size 0.28rem
    color #fff
  .header-group
    width 0.38rem
    height auto
    margin-right 0.27rem
